*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
.first-section{
    background-image: url("bg-hero-desktop.svg");
    /* background-color: wheat; */
    background-color: hsl(193, 100%, 96%);
    height: 80vh;
    width: 100%;
}
nav{
    /* background-color: rgb(234, 234, 26); */
    margin: auto;
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 200px;
    height: 40px;
}
nav div{
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    background: none;
}
nav div a{
    background-color: hsl(322, 100%, 66%);
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
}
nav div a:hover{
    background-color:transparent;
    color: white;
    border: 1px solid white;
}
main{
    /* background-color: beige; */
    width: 80%;
    margin: auto;
    height: 70%;
    display: flex;
    margin-top: 30px;
}
.left-container{
    width: 40%;
    height: 100%;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
.image-container{
    width: 60%;
    height: 100%;
    /* background-color: violet; */
    text-align: center;
}
.image-container img{
    width: 750px;
    height: 510px;
}
.left-container div{
    width: 250px;
    height: 45px;
    border: none;
    outline: none;
    background: none;
}
.left-container div a{
    background-color: white;
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
}
.left-container div a:hover{
    background-color:transparent;
    color: white;
    border: 1px solid white;
}

.middle-section{
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 300px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.grow-together{
    height: 500px;
    width: 80%;
    margin: auto;
    border-radius: 25px;
    /* background-color: burlywood; */
    box-shadow: 3px 5px 5px 4px rgba(128, 128, 128, 0.606);
    display: flex;
    align-items: center;
}
.description{
    width: 50%;
    height: 85%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.description h1{
    color: hsl(192, 100%, 9%);
}
.description p{
    color: hsl(208, 11%, 55%);
}
.description h1,p{
    width: 80%;
    /* margin: auto; */
}
.image{
    width: 50%;
    height: 85%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 450px;
}
.flowing-conversation{
    height: 500px;
    width: 80%;
    margin: auto;
    border-radius: 25px;
    /* background-color: burlywood; */
    box-shadow: 3px 5px 5px 4px rgba(128, 128, 128, 0.606);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: hsl(192, 100%, 9%);
}
.your-users{
    height: 500px;
    width: 80%;
    margin: auto;
    border-radius: 25px;
    /* background-color: burlywood; */
    box-shadow: 2px 2px 5px 3px rgba(128, 128, 128, 0.411);
    display: flex;
    align-items: center;
}

footer{
    width: 100%;
    height: 500px;
    background-color: hsl(192, 100%, 9%);
    color: hsl(208, 11%, 55%);
    padding-top: 200px;
    position: relative;
}
.footer-container{
    width: 80%;
    margin:auto;
}
.footer-container img{
    color: white;
}
.contact-details{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}
.contact-details .first{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid;
}
.contact-details .first div{
    display: flex;
    /* border: 1px solid; */
    /* width: 45%; */
    height: auto;
    gap: 20px;
    /* justify-content: space-between; */
}
.contact-details .first div img{
    /* display: inline-block; */
    height: 20px;
}
.contact-details .second{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-media{
    display: flex;
    gap: 10px;
}
.social-media .social{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid white;
    /* background-color: aqua; */
}
.build-community{
    height: 300px;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(251, 251, 251);
    box-shadow: 3px 5px 5px 4px rgba(128, 128, 128, 0.606);
    display: flex;
    align-items: center;
    position: absolute;
    left: 25%;
    top: -35%;
    color: steelblue;
}
.build-community .description{
    width: 80%;
    margin: auto;
    text-align: center;
    color: hsl(192, 100%, 9%);
}
.build-community .description div{
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    background: none;
}
.build-community .description div a{
    background-color: hsl(322, 100%, 66%);
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
}
.left-container div a:hover{
    background-color:transparent;
    color: white;
    border: 1px solid white;
}

